body {
  background-color: #222;
  padding: 0;
  margin: 0;
  color: #C5C5C5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.nav {
  font-family: sans-serif;
  width: 100%;
  max-width: 1440px;
  height: 82px;
  flex-shrink: 0;
  background: #222;
  box-shadow: 0px 4.364px 16px -2.182px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
}
.nav .logo {
  position: absolute;
  top: 50%;
  left: 15%;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav .parent {
  width: 40px;
  height: 40%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center;
  display: flex;
}
.nav .parent .onphone {
  width: 40px;
  height: 2px;
}
.nav .parent .onphone:before {
  content: "";
  background-color: #181818;
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 30px;
  height: 2px;
}
.nav .parent .onphone:after {
  content: "";
  background-color: #181818;
  position: absolute;
  top: 10px;
  left: 5px;
  width: 30px;
  height: 2px;
}
.nav .phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: #fff;
  color: #181818;
  border-radius: 10px;
  top: 80px;
  right: 10px;
}
.nav .phone p {
  position: relative;
  font-size: 18px;
}
.nav .phone p:hover {
  cursor: pointer;
}
.nav .phone p:hover:before {
  content: "";
  background-color: #181818;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
}
.nav .desktop {
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav .desktop p {
  margin-left: 40px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav .desktop p:hover:before {
  content: "";
  background-color: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
}
.nav .them {
  width: 50px;
  height: 25px;
  background-color: #fff;
  border-radius: 60px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
.nav .them .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  right: 2.5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav .them .dark {
  right: 2.5px;
  background-color: #fff;
}
.nav .them .light {
  left: 2.5px;
  background-color: #222;
}

.home {
  font-family: sans-serif;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.home img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #222;
}
.home .titleDark {
  width: 650px;
  max-width: 70%;
  color: var(--Primary-Color, #FFF);
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 63.357px;
  background: var(--Primary-Gradient, linear-gradient(116deg, #FF8660 71.79%, #9A33FF 95.51%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 63.357px;
}
.home .pDark {
  width: 650px;
  max-width: 70%;
  color: var(--Secondary-Text, #C5C5C5);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.36px;
}
.home .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home .buttonDark {
  width: 204px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 50px;
  background: black;
  color: #fff;
  border: 2px solid var(--Primary-Color, #FFF);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
}
.home .buttonDark:hover {
  background: var(--Primary-Gradient, linear-gradient(116deg, #FF8660 71.79%, #9A33FF 95.51%));
  color: #181818;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.home .titleLight {
  width: 650px;
  max-width: 70%;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 63.357px;
  background: var(--TEXT-CLR, #202531);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 63.357px;
}
.home .pLight {
  width: 650px;
  max-width: 70%;
  color: var(--TEXT-CLR, #202531);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.36px;
}
.home .buttonLight {
  width: 204px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(--TEXT-CLR, rgba(32, 37, 49, 0.8823529412));
  color: #fff;
  border: 2px solid var(--Primary-Color, #FFF);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
}
.home .buttonLight:hover {
  background: var(--Primary-Gradient, linear-gradient(116deg, #FF8660 71.79%, #9A33FF 95.51%));
  color: #181818;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.exDark {
  width: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.exDark h3 {
  color: var(--Secondary-Text, #C5C5C5);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
  margin-bottom: 40px;
}
.exDark .eximg {
  background-color: #222;
  width: 600px;
  max-width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.exDark .eximg .html {
  position: relative;
}
.exDark .eximg .html:hover:before {
  content: "HTML";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #222;
  color: #fff;
  font-size: 14px;
}
.exDark .eximg .css {
  position: relative;
}
.exDark .eximg .css:hover:before {
  content: "CSS";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #222;
  color: #fff;
  font-size: 14px;
}
.exDark .eximg .javascript {
  position: relative;
}
.exDark .eximg .javascript:hover:before {
  content: "javascript";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #222;
  color: #fff;
  font-size: 14px;
}
.exDark .eximg .raectjs {
  position: relative;
}
.exDark .eximg .raectjs:hover:before {
  content: "Reactjs";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #222;
  color: #fff;
  font-size: 14px;
}
.exDark .eximg img {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 10px 30px;
  color: black;
}
.exDark .eximg img:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.exLight {
  width: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.exLight h3 {
  color: var(--Secondary-Text, #222);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
  margin-bottom: 40px;
}
.exLight .eximg {
  background-color: #222;
  width: 600px;
  max-width: 90%;
  height: 70px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.exLight .eximg .html {
  position: relative;
}
.exLight .eximg .html:hover:before {
  content: "HTML";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #222;
  font-size: 14px;
}
.exLight .eximg .css {
  position: relative;
}
.exLight .eximg .css:hover:before {
  content: "CSS";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #222;
  font-size: 14px;
}
.exLight .eximg .javascript {
  position: relative;
}
.exLight .eximg .javascript:hover:before {
  content: "javascript";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #222;
  font-size: 14px;
}
.exLight .eximg .raectjs {
  position: relative;
}
.exLight .eximg .raectjs:hover:before {
  content: "Reactjs";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #222;
  font-size: 14px;
}
.exLight .eximg img {
  width: 40px;
  height: 40px;
  margin: 10px 30px;
  color: black;
}
.exLight .eximg img:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.projects {
  width: calc(100% - 60px);
  max-width: 1440px;
  height: auto;
  padding: 20px 40px 20px 40px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1882352941);
  margin: 30px;
  border-radius: 7px;
}
.projects #title {
  width: 180px;
  font-size: 38px;
  border-bottom: 2px solid #181818;
  text-align: center;
  margin: 30px auto;
  color: black;
}
.projects #nav {
  width: 100%;
  min-height: 40px;
  background-color: #eee;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 30px;
}
.projects #nav button {
  width: auto;
  height: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 0;
  margin: 0 5px;
  height: 30px;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
}
.projects #nav button:hover:before {
  width: 100%;
}
.projects #nav button:before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 2px;
  background-color: #181818;
  transition: all 0.4s;
}
.projects #nav .activ:before {
  font-weight: bolder;
  width: 100%;
}
.projects #cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.projects #cards .project {
  width: 250px;
  height: 300px;
  background-color: #fff;
  border-radius: 9px;
  text-align: center;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  position: relative;
  animation-name: start;
  animation-duration: 0.4s;
}
.projects #cards .project img {
  width: calc(100% - 10px);
  height: 145px;
  border-radius: 6px;
  margin: 5px;
}
.projects #cards .project h2 {
  font-size: 22px;
  font-family: sans-serif;
  margin-bottom: 5px;
  margin-top: 12px;
  color: #181818;
}
.projects #cards .project p {
  color: #181818;
  width: 90%;
  font-size: 16px;
  margin-top: 10px;
  padding: 0 20px;
  overflow: hidden;
  text-align: center;
  font-family: sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.projects #cards .project button {
  width: 70%;
  height: 40px;
  color: white;
  background-color: #181818;
  border-radius: 40px;
  border: 0;
  font-size: 17px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.04s;
}
.projects #cards .project button:hover {
  background-color: white;
  color: #181818;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2);
}
@keyframes start {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  /* 50%{
      width: 200PX;
      height: 200PX;
      opacity: .5;

  } */
  100% {
    width: 250px;
    height: 300px;
    opacity: 0.1;
  }
}

.skills {
  background-color: rgba(34, 34, 34, 0.5176470588);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills .title {
  width: 150px;
  font-size: 38px;
  border-bottom: 2px solid #C5C5C5;
  color: #C5C5C5;
  text-align: center;
}
.skills .tolls {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #C5C5C5;
  padding: 50px;
}
.skills .tolls .skill {
  width: 100px;
  position: relative;
  transition: all 0.3s;
  font-size: 10px;
  background-color: rgba(21, 21, 21, 0.6392156863);
  color: #C5C5C5;
  padding: 2px;
  height: 55px;
  margin: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: about_height__0gwPN 2s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}/*# sourceMappingURL=style.css.map */