body {
  background-color: #222;
}

body {
  padding: 0;
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background-color: #222;
}

.nav {
  font-family: sans-serif;
  width: 100%;
  max-width: 1440px;
  height: 82px;
  flex-shrink: 0;
  background: #222;
  box-shadow: 0px 4.364px 16px -2.182px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.nav .logo {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav .parent {
  width: 40px;
  height: 40%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center;
  display: flex;
}
.nav .parent .onphone {
  width: 40px;
  height: 2px;
}
.nav .parent .onphone:before {
  content: "";
  background-color: #181818;
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 30px;
  height: 2px;
}
.nav .parent .onphone:after {
  content: "";
  background-color: #181818;
  position: absolute;
  top: 10px;
  left: 5px;
  width: 30px;
  height: 2px;
}
.nav .phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: #fff;
  color: #181818;
  border-radius: 10px;
  top: 80px;
  right: 10px;
}
.nav .phone p {
  position: relative;
  font-size: 18px;
}
.nav .phone p:hover {
  cursor: pointer;
}
.nav .phone p:hover:before {
  content: "";
  background-color: #181818;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
}
.nav .desktop {
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav .desktop p {
  margin-left: 40px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav .desktop p:hover:before {
  content: "";
  background-color: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
}
.nav .them {
  width: 50px;
  height: 25px;
  background-color: #fff;
  border-radius: 60px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
.nav .them .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  right: 2.5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav .them .dark {
  right: 2.5px;
  background-color: #fff;
}
.nav .them .light {
  left: 2.5px;
  background-color: #222;
}

body {
  background-color: #222;
}

.home {
  font-family: sans-serif;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.home img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #222;
}
.home .titleDark {
  width: 650px;
  color: var(--Primary-Color, #FFF);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 63.357px;
  background: var(--Primary-Gradient, linear-gradient(116deg, #FF8660 71.79%, #9A33FF 95.51%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 63.357px;
}
.home .pDark {
  width: 650px;
  color: var(--Secondary-Text, #C5C5C5);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.36px;
}
.home .buttonDark {
  width: 204px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 50px;
  background: black;
  color: #fff;
  border: 2px solid var(--Primary-Color, #FFF);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
}
.home .buttonDark:hover {
  background: var(--Primary-Gradient, linear-gradient(116deg, #FF8660 71.79%, #9A33FF 95.51%));
  color: #181818;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.home .titleLight {
  width: 650px;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 63.357px;
  background: var(--TEXT-CLR, #202531);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 63.357px;
}
.home .pLight {
  width: 650px;
  color: var(--TEXT-CLR, #202531);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.36px;
}
.home .buttonLight {
  width: 204px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(--TEXT-CLR, rgba(32, 37, 49, 0.8823529412));
  color: #fff;
  border: 2px solid var(--Primary-Color, #FFF);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
}
.home .buttonLight:hover {
  background: var(--Primary-Gradient, linear-gradient(116deg, #FF8660 71.79%, #9A33FF 95.51%));
  color: #181818;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}/*# sourceMappingURL=style.css.map */