@use '../mixin' as *;

.home{
    font-family: sans-serif;
    width: 100%;
    max-width: 1440px;
    @include FlexColumn(center, center);
    padding: 100px 0;
    img{
        width:200px;
        height: 200px;
        border-radius: 50%;
        background-color: #222;
        // filter: grayscale(100%);
        object-fit: cover;
        object-position: top;
    }
    .titleDark{
        width: 650px;
        max-width: 70%;
        color:  #C5C5C5;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: 63.357px; 
        // background: var(--Primary-Gradient, linear-gradient(116deg, #FF8660 71.79%, #9A33FF 95.51%));
        // background-clip: text;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 63.357px;
    }
    .pDark{
        width: 650px;
        max-width: 70%;
        color: var(--Secondary-Text, #C5C5C5);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.36px;
    }
    .buttons{
        width: 100%;
        @include FlexRwo(center, center);
        flex-wrap: wrap;
    }
    .buttonDark{
        width: 204px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 50px;
        background: black;
        color: #fff;
        border: 2px solid var(--Primary-Color, #FFF);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 10px;
        &:hover{
            background: var(--Primary-Gradient, linear-gradient(116deg, #FF8660 71.79%, #9A33FF 95.51%));
            color: #181818;
            @include Hover
            
        }
    }
    .titleLight{
        width: 650px;
        max-width: 70%;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 63.357px; 
        background:  var(--TEXT-CLR, #202531);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 63.357px;
    }
    .pLight{
        width: 650px;
        max-width: 70%;
        color:  var(--TEXT-CLR, #202531);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.36px;
    }
    .buttonLight{
        width: 204px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 50px;
        background:  var(--TEXT-CLR, #202531e1);
        color: #fff;
        border: 2px solid var(--Primary-Color, #FFF);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 10px;
        &:hover{
            background: var(--Primary-Gradient, linear-gradient(116deg, #FF8660 71.79%, #9A33FF 95.51%));
            color: #181818;
            @include Hover
            
        }
    }
}